@charset "UTF-8";

* { 
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #F1D8C9,#F2C3A7);
}


main {
    background-color: #ffffff;
    width: 600px;
    padding: 10px; /*acochoamento*/
    margin: auto;
    border-radius: 10px ; /*bordas*/
    box-shadow: 5px 5px 15px #81675989;/*sombras*/
 
  
}

h1 {
    color: #F39209;
   text-align: center;/*centralizar o texto*/
   text-shadow: 1px 1px 2px #9f6007b6;/*sombras no texto*/
}   

h2 {
    color:#125189;
}
p {
  text-align: justify;  
}

